:root {
  --font-serif: "Noto Serif SC", ui-serif, serif;
  --font-sans: "Sarasa UI SC", -apple-system, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "Sarasa Mono SC", ui-monospace, monospace, Menlo, SFMono, Consolas,
    "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --bg: 255 255 255;
  --fg: 0 0 0;
  --primary-bg: 9 9 9;
  --primary-fg: 255 255 255;
  --primary-border: 37 37 37;
  --secondary-bg: 225 225 225;
  --secondary-fg: 0 0 0;
  --secondary-border: 120 114 113;
  --muted-bg: 244 244 245;
  --muted-fg: 83 83 83;
  --muted-border: 212 212 216;
}

[data-theme='dark'] {
  color-scheme: dark;
  --bg: 0 0 0;
  --fg: 255 255 255;
  --primary-bg: 242 242 242;
  --primary-fg: 0 0 0;
  --primary-border: 228 228 230;
  --secondary-bg: 31 31 31;
  --secondary-fg: 255 255 255;
  --secondary-border: 54 54 65;
  --muted-bg: 25 25 31;
  --muted-fg: 170 170 173;
  --muted-border: 40 40 43;
}
